{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>농부 페이지</title>
</head>
<body>
    <h1>{{ farmer.Farmer_name }}님의 농부 페이지</h1>
    <p>농부프로필</p>
    <img src="{{ farmer.Farmer_pic }}" alt="{{ farmer.Farmer_name }} 프로필사진" width="300" height="300">
    <img src="{{ farmer.Farmer_back_pic }}" alt="{{ farmer.Farmer_name }} 배경사진" width="300" height="300">
    <p>이름: {{ farmer.Farmer_name }}</p>
    <p>전화번호: {{ farmer.Farmer_tel }}</p>
    <p>소개: {{ farmer.Farmer_intro }}</p>
    <p>농장사진</p>
    <img src="{{ farm.Farm_pics }}" alt="{{ farmer.Farmer_name }} 농장사진1" width="300" height="300">
</body>
</html>
